body {
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 1400px) {
   #profile {
    height: 83vh;
    margin-bottom: 6rem;
   }

.about-containers {
    flex-wrap: wrap;
}

.btn-color-2 {
    color: black;
}
}


@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        height: 60px;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0.5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem ; 
    }
    

}
@media screen and (min-width: 1000px) {}
.mobile-exp{
    display: none;
}


@media screen and (max-width: 600px) {
    #contact, footer{
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
        padding-top: 1;
    }
    article{
        font-size: 2rem;
    }

    .article-container {
        display: grid;
        grid-template-columns: repeat(2,3fr);
        width: 100%;
        column-gap: 0; /* Add more space between the columns */
        row-gap: 2rem; /* You can keep the vertical space same */
        padding
    }
 
    .article-container h3{
        font-size: 50%;
    }

    .experience-details-container-exp {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    #experience{
        max-width: 100vw;
    }
    
    #experience .about-containers{
        padding-left: 0 ;
    }

    #experience article{
        font-size: 2rem;
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #experience .about-containers{
        width: 100vw;
    }

    .details-container-exp{
        width: 100rem;
    }

    .article-container-exp{
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }
    
    .article-container-exp p{
        font-size: 1rem;
    }

    .article-container-exp article{
        width: 3rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, .contact-info-uppercontainer, .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }

    .icon {
        cursor: pointer;
        height: 2rem;
    }
}

@media screen and (max-width: 1400px) {
    #about {
        height: 83vh;
       
    }

    .about-containers { 
        margin-top: 0;
        padding-left: 3rem;
        padding-right: 3rem;
        gap: 0.5rem;
    }

    .about-containers, 
    .about-details-container {
        margin-top: 0;
    }

    .details-container-tech {
        margin-left: 2rem;
        margin-right: 2.5rem;
        
    }

    .section__pic-container-about {
        height: 30vh;
        width: 100%;
        justify-content: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
   
}

