@media screen and (max-width: 1400px) {
   #profile {
    height: 83vh;
    margin-bottom: 6rem;
   }

.about-containers {
    flex-wrap: wrap;
}
}


@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        height: 60px;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0.5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem ; 
    }
    

}


@media screen and (max-width: 600px) {
    #contact, footer{
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
        padding-top: 1;
    }
    article{
        font-size: 2rem;
    }

    .article-container {
        grid-template-columns: repeat(2, 2fr);
        column-gap: 0;
    }
 
    .article-container h3{
        font-size: 50%;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, .contact-info-uppercontainer, .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1400px) {
    #about {
        height: 83vh;
       
    }

    .about-containers { 
        margin-top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 0.5rem;
    }

    .about-containers, 
    .about-details-container {
        margin-top: 0;
    }

    .details-container-tech {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .section__pic-container-about {
        height: 40vh;
        width: 100%;
        justify-content: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
   
}

